<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>McGill School of Computer Science</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/menu.css')}}">
</head>
<body>
    <header>
        <div id="nav-wrapper">
            <nav class="nav">
                <a href="{{ url_for('home')}}" id="logo">
                    <img src="{{ url_for('static', filename='./images/logo-header.png')}}" alt="Logo of SOCS">
                </a>
                <a href="{{ url_for('prospective')}}" id="prospective">Prospective</a>
                <a href="{{ url_for('people')}}" id="people">People</a>
                <a href="{{ url_for('academic')}}" id="academic">Academic</a>
                <a href="{{ url_for('news')}}" id="news">News</a>
                <a href="{{ url_for('research')}}" id="research">Research</a>
                <a href="#" id="employment">Employment</a>
                <a href="#" id="donate">Donate</a>
                <a href="{{ url_for('about')}}" id="about">About</a>
                <div id="search">
                    search
                </div>
            </nav>
        </div>
    </header>


    <div class="banner">
        <img src="../../../static/images/people-stock.jpg" class="banner-image">
        <div class="banner-box">
          <div class="banner-text">People</div>
        </div>
      </div>
    

    <div class="menu-section-container">

        <div class="menu-section">
            <h4>Faculty</h4>
            <ul>
                <li>Director</li>
                <li>Professors</li>
                <li>Faculty Lecturer</li>
                <li>Adjunct Professors</li>
                <li>Associate Members</li>
                <li>Emeritus Professors</li>
                <li>Former Professors</li>
                <li>In Memoriam</li>
            </ul>
        </div>

        <div class="menu-section" >
            <h4>Staff</h4>
            <ul>
                <li>Admin staff</li>
                <li>System staff</li>
            </ul>
        </div>

        <div class="menu-section" >
            <h4>Community</h4>
            <ul>
                <li>Women@CS</li>
                <li>Summer Camp</li>
                <li>CSUS</li>
                <li>CSGS</li>
            </ul>
            
        </div>
    </div>

    


    <!-- footer section -->
    <footer>
        <div class="footerInfoWrapper">
            <div class="footerRequests">
                All content related request should be sent to
                <a href="#">
                    webadmin@cs.mcgill.ca
                </a>
            </div>
            <div class="credits">
                ©McGill University 2020
                <a href="#">Credits</a>
            </div>
        </div>
        <div class="footerLogo">
            <img src="../../../static/images/logo-footer.png" alt="footerLogo">
        </div>
    </footer>
</body>
</html>