<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>McGill School of Computer Science</title>
    <!--
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/index.css') }}">

    -->
    <link rel="stylesheet" href="../static/styles/index.css">
    <script src="{{ url_for('static', filename='./scripts/login.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="javascript:verifyTicket()">
    <header>
        <!-- todo add search -->
        <!-- Header and navigation bar -->
        <div id="nav-wrapper">
            <nav class="nav">
                <a href="{{ url_for('home')}}" id="logo">
                    <img src="{{ url_for('static', filename='./images/logo-header.png')}}" alt="Logo of SOCS">
                </a>
                <a href="{{ url_for('prospective')}}" id="prospective">Prospective</a>
                <a href="{{ url_for('people')}}" id="people">People</a>
                <a href="{{ url_for('academic')}}" id="academic">Academic</a>
                <a href="{{ url_for('news')}}" id="news">News</a>
                <a href="{{ url_for('research')}}" id="research">Research</a>
                <a href="#" id="employment">Employment</a>
                <a href="#" id="donate">Donate</a>
                <a href="{{ url_for('about')}}" id="about">About</a>
                <a href="{{ url_for('login')}}" id="login">Login</a>
                <div id="search">
                    search
                </div>
            </nav>
        </div>
    </header>
    <!-- Teaching section -->
    <div class="teaching">
        <div class="slideshow-container" onmouseover="changeCaptionBackground('black')" onmouseout="changeCaptionBackground('rgba(0,0,0,0.35)')">
            {{teaching|safe}}
            <div id="floatTeaching">
		    {{editTeaching|safe}}
		    <!--
                teaching<span style="color: red">@CS</span>
                    -->
            </div>
            <a class="prev" onclick="moveSlides(-1)">&#10094;</a>\n
            <a class="next" onclick="moveSlides(1)">&#10095;</a>\n
        </div>
        <br>
        <div style="text-align: center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    <!-- Latest section -->
    <div class="latest">
        <div id="floatLatest">
            latest<span style="color: red">@CS</span>
        </div>
        <div class="latestGrid">
            <!-- todo change this -->
            <a href="#">
                <article class="latestArticle">
                    <img src="/static/images/openHouse.jpeg" alt="slide1" class="latestImg">
                    <div class="latestDate" style="color: rgb(102, 115, 128);">Oct. 25, 2020</div>
                    <div class="latestTitle">Virtual Open House 2020 | Porte ouvertes virtuelle 2020</div>
                </article>
            </a>
            <a href="#">
                <article class="latestArticle">
                    <img src="/static/images/CovidConcerns.jpg" alt="slide1" class="latestImg">
                    <div class="latestDate" style="color: rgb(102, 115, 128);">Oct. 5,2020</div>
                    <div class="latestTitle">Concerns related to COVID-19</div>
                </article>
            </a>
            <a href="#">
                <article class="latestArticle">
                    <img src="/static/images/ThreeProfessors.jpg" alt="slide1" class="latestImg">
                    <div class="latestDate" style="color: rgb(102, 115, 128);">Nov. 5, 2020</div>
                    <div class="latestTitle">Three SOCS professors awarded large grants</div>
                </article>
            </a>
            <a href="#">
                <article class="latestArticle">
                    <img src="/static/images/Oana_Balmau.jpg" alt="slide1" class="latestImg">
                    <div class="latestDate" style="color: rgb(102, 115, 128);">Oct. 27, 2020</div>
                    <div class="latestTitle">Assistant Professor Oana Balmau wins CORE Award</div>
                </article>
            </a>
        </div>
    </div>
    <div class="events">
        <div id="floatEvents">
            events<span style="color: red">@CS</span>
        </div>
        <div class="eventsGrid">
            <a href="#">
                <article class="eventsArticle">
                    <div class="eventsDateWrapper">
                        <div class="eventsDate">
                            13
                        </div>
                        <div class="eventsMonth">
                            Nov
                        </div>
                    </div>
                    <div class="eventsTitle">
                        Virtual Collaboration Techniques to Catalyze Open Innovation
                    </div>
                    <div class="eventsCategory">
                        COLLOQUIUM
                    </div>
                </article>
            </a>

            <a href="#">
                <article class="eventsArticle">
                    <div class="eventsDateWrapper">
                        <div class="eventsDate">
                            17
                        </div>
                        <div class="eventsMonth">
                            Sep
                        </div>
                    </div>
                    <div class="eventsTitle">
                        McGill IT Services Virtual Fair
                    </div>
                    <div class="eventsCategory">
                        INFO_SESSION
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="eventsArticle">
                    <div class="eventsDateWrapper">
                        <div class="eventsDate">
                            19
                        </div>
                        <div class="eventsMonth">
                            Jun
                        </div>
                    </div>
                    <div class="eventsTitle">
                        Virtual Convocation
                    </div>
                    <div class="eventsCategory">
                        OTHER
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="eventsArticle">
                    <div class="eventsDateWrapper">
                        <div class="eventsDate">
                            29
                        </div>
                        <div class="eventsMonth">
                            Oct
                        </div>
                    </div>
                    <div class="eventsTitle">
                        Wanted: YOU, the leaders of the cybersecurity era!
                    </div>
                    <div class="eventsCategory">
                        INFO_SESSION
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="eventsArticle">
                    <div class="eventsDateWrapper">
                        <div class="eventsDate">
                            24
                        </div>
                        <div class="eventsMonth">
                            SEP
                        </div>
                    </div>
                    <div class="eventsTitle">
                        Image Guided neurosurgery at the MNI
                    </div>
                    <div class="eventsCategory">
                        COLLOQUIUM
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="eventsArticle">
                    <div class="eventsDateWrapper">
                        <div class="eventsDate">
                            12
                        </div>
                        <div class="eventsMonth">
                            SEP
                        </div>
                    </div>
                    <div class="eventsTitle">
                        Towards Platial Data Science
                    </div>
                    <div class="eventsCategory">
                        INFO_SESSION
                    </div>
                </article>
            </a>
            <a href="#">
                <div id="allEvents">
                    All Events
                </div>
            </a>

        </div>
    </div>
    <!-- footer section -->
    <div class="footerWrapper">
        <footer>
            <div class="footerInfoWrapper">
                <div class="footerRequests">
                    All content related request should be sent to
                    <a href="#">
                        webadmin@cs.mcgill.ca
                    </a>
                </div>
                <div class="credits">
                    ©McGill University 2020
                    <a href="#">Credits</a>
                </div>
            </div>
            <div class="footerLogo">
                <img src="/static/images/logo-footer.png" alt="footerLogo">
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='./scripts/slideshow.js')}}"></script>
    <script src="{{ url_for('static', filename='./scripts/index.js')}}"></script>
</body>
</html>
