<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>McGill School of Computer Science</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/menu.css')}}">
</head>
<body>
    <header>
        <div id="nav-wrapper">
            <nav class="nav">
                <a href="{{ url_for('home')}}" id="logo">
                    <img src="{{ url_for('static', filename='./images/logo-header.png')}}" alt="Logo of SOCS">
                </a>
                <a href="{{ url_for('prospective')}}" id="prospective">Prospective</a>
                <a href="{{ url_for('people')}}" id="people">People</a>
                <a href="{{ url_for('academic')}}" id="academic">Academic</a>
                <a href="{{ url_for('news')}}" id="news">News</a>
                <a href="{{ url_for('research')}}" id="research">Research</a>
                <a href="#" id="employment">Employment</a>
                <a href="#" id="donate">Donate</a>
                <a href="{{ url_for('about')}}" id="about">About</a>
                <div id="search">
                    search
                </div>
            </nav>
        </div>
    </header>


    <div class="banner">
        <img src="../../../static/images/academic-stock.jpg" class="banner-image">
        <div class="banner-box">
          <div class="banner-text">Academic</div>
        </div>
      </div>
    

    <div class="menu-section-container">
        <div class="menu-section">
            <h4>Undergraduate</h4>
            <ul>
                <li>Overview</li>
                <li>Information for incoming students</li>
                <li>Remote Learning</li>
                <li>FAQ</li>
                <li>Advising</li>
                <li>COMP 202/204/208</li>
                <li>Streams</li>
                <li>Bachelor of Science</li>
                <li>Bachelor of Arts</li>
                <li>Bachelor of Arts and Science</li>
                <li>Minor Computer Science</li>
                <li>Games</li>
                <li>Research</li>
                <li>Internships & Careers</li>
                <li>Preparation for Graduate Studies</li>
            </ul>
        </div>
<br>
        <div class="menu-section">
            <h4>Graduate</h4>
            <ul>
                <li>Overview</li>
                <li>Masters</li>
                <li>Ph. D.</li>
                <li>Admission</li>
                <li>Applying</li>
                <li>FAQ</li>
            </ul>
        </div>

        <div class="menu-section">
            <h4>Courses</h4>
            <ul>
                <li>Course List</li>
            </ul>
        </div>

        <div class="menu-section">
            <h4>Teaching Assistant</h4>
            <ul>
                <li>TA & Reasearch Assistant</li>
                <li>TA Awards</li>
            </ul>
        </div>

        <div class="menu-section">
            <h4>Funding</h4>
            <ul>
                <li>Financial Information</li>
                <li>Graduate Scholarships</li>
                <li>Expense Reports</li>
            </ul>
        </div>

    </div>

    


    <!-- footer section -->
    <footer>
        <div class="footerInfoWrapper">
            <div class="footerRequests">
                All content related request should be sent to
                <a href="#">
                    webadmin@cs.mcgill.ca
                </a>
            </div>
            <div class="credits">
                ©McGill University 2020
                <a href="#">Credits</a>
            </div>
        </div>
        <div class="footerLogo">
            <img src="../../../static/images/logo-footer.png" alt="footerLogo">
        </div>
    </footer>

</body>
</html>