@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* remove extra space around and font */
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto 10%;
    grid-template-areas:
        "header header"
        "teaching teaching"
        "latest events"
        "footer footer";
    height: 100%;
}
/* top bar -> header and website navigation */
header{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-area: header;
}
#nav-wrapper{
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
}
.nav{
    color: white;
    display: grid;
    grid-template-columns: auto 13% 13% 13% 10% 10% 8%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "logo prospective academic research donate about search"
        "logo people news employment donate about search";
    grid-gap: 1px;
}
#logo,
#prospective,
#academic,
#research,
#people,
#news,
#employment,
#donate,
#about,
#search
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#logo{
    grid-area: logo;
}
#prospective{
    grid-area: prospective;
}
#academic{
    grid-area: academic;
}
#research{
    grid-area: research;
}
#donate{
    grid-area: donate;
}
#about{
    grid-area: about;
}
#search{
    grid-area: search;
}
#people{
    grid-area: people;
}
#news{
    grid-area: news;
}
#employment{
    grid-area: employment;
}
#prospective:hover,
#academic:hover,
#research:hover,
#people:hover,
#news:hover,
#employment:hover,
#donate:hover,
#about:hover{
    background-color: red;
}
.nav a{
    text-decoration: none;
    color: white;
}

.teaching{
    grid-area: teaching;
    box-sizing: border-box;
    background-color: black;
    padding-bottom: 12px;
}
.teaching img{
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}
#floatTeaching{
    position: absolute;
    color: white;
    background-color: black;
    font-size: 1.3em;
    /*
    margin-left: 10%;
    */
    padding: 10px;
    top: 0;
}
.slideshow-container{
    max-width: 80%;
    position: relative;
    margin: auto;
}
.aSlide{
    display: none;
    color: white;
}
.aSlide:hover{
    color: red;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover{
    color: red;
    background-color: rgba(0,0,0,0.6);
    margin-left: 5px;
    font-size: 25px;
}

.next:hover{
    color: red;
    background-color: rgba(0,0,0,0.6);
    margin-right: 5px;
    font-size: 25px;
}
.caption{
    /*
    color: #f2f2f2;
     */
    font-size: 15px;
    padding: 8px 0;
    position: absolute;
    bottom: 4px;
    width: 100%;
    background-color: rgba(0,0,0,0.35);
    text-align: center;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active{
    background-color: white;
}

.dot:hover {
    background-color: red;
}
.latest{
    grid-area: latest;
    background-color: #102A43;
}
.latest a{
    text-decoration: none;
}
#floatLatest{
    position: absolute;
    color: white;
    /*background-color: black;*/
    font-size: 1.3em;
    /*
    margin-left: 20%;
    */
    margin-left: 10%;
    margin-top: 20px;
    padding: 10px;
}
.latestGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 40%);
    grid-gap: 1em;
    padding: 50px 10px 30px 50px;
    /*
    margin: 50px -50px 50px 45px;
     */
    justify-content: center;
    align-items: center;
}

.latestArticle:hover{
    color: red;
}

.latestArticle{
    padding: 1.5em;
    color: white;
    /* background-color: #fff; */
}

.latestGrid img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.latestDate{
    font-size: 0.73em;
    margin-top: 0.8em;
}

.latest:hover{
    color: red;
}
.latestTitle{
    margin-top: 0.4em;
}

.events{
    grid-area: events;
    background-color: aqua;
    margin-left: -120px;
    padding-right: 30px;
}
.events a{
    text-decoration: none;
}
#floatEvents{
    position: absolute;
    color: white;
    font-size: 1.3em;
    margin-left: 5%;
    margin-top: 20px;
    padding: 10px;
}

.eventsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 80%);
    grid-gap: 1px;
    padding: 50px 10px 30px 50px;
    /*
    background-color: black;
    */
    background-color: #102A43;
    justify-content: center;
    align-items: center;
}
.eventsGrid a{
    color: white;
}


.eventsDateWrapper {
    margin-right: 15px;
    min-width: 50px;
    height: 50px;
    padding: 10px;
    display: block;
    float: left;
}
.eventsMonth {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0;
}
.eventsDate {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 200;
}
.eventsTitle{
    font-size: 0.7em;
}
.latestCategory{
    font-size: 0.55em;
    color: rgb(102, 115, 128);
}

.eventsArticle{
    background-color: black;
    height: 70px;
}
#allEvents{
    background-color: black;
}

footer{
    grid-area: footer;
    background-color: black;
    color: white;
}